.logo {
  padding-left: 30%;
}
#semicolon {
  max-width: 50%;
}
.container {
  padding-bottom: 25px;
}
.container, .navbar {
  background-color: lightgreen;
}

.container, .navbar, img {
  border: 3px solid blue;
  border-radius: 12px;
}

.navbar {
  margin-top: 2%;
  margin-left: 10%;
  max-width: 80%;
}

footer {
  margin-top: 2%;
}
